*.ipynb linguist-vendored
# force *nix line endings so files don't look modified in container run from Windows clone
* text eol=lf
# Git incorrectly thinks some media is text
*.png -text
*.mp4 -text
# Binary files should not be converted
*.tar.gz.gpg -text
*.tar.gz.gpg.part-* -text
